* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
html {
  font-size: 10px;
  font-family: 'Poppins';
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.2rem 2.2rem 0 2.2rem;
}
.header__privacy-terms {
  display: flex;
  align-items: center;
}
.header__privacy-terms__privacy {
  font-size: 2.2rem;
  text-decoration: none;
  color: #5f6368;
  margin-left: 0.8rem;
}
